:root {
	--bg: #1C1C27;
	--bgLight: #1C1E27;
	--primary: #854CE6;
	--text_primary: #F2F3F4;
	--text_secondary: #b1b2b3;
	--card: #171721;
	--card_light: #191924;
	--button: #854CE6;
	--white: #FFFFFF;
	--black: #000000;

	--text_secondary99: #b1b2b399;
	--text_secondary80: #b1b2b380;

	--text_primary99: #F2F3F499;
	--text_primary95: #F2F3F495;
	--text_primary80: #F2F3F480;

	--primary15: #854CE615;
	--primary20: #854CE620;
	--primary8: #rgba (133, 76, 230, 0.125);


	--card_light99: #19192499;


	--bg99: #1C1C2799;


}
